@{
    ViewData["Title"] = "Home Page.";

}

@model IEnumerable<AddAddress>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Number of records stored: @Model.Count()</p>
    
</div>


