@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your use of this Website and/or provision of your Personal Information or sensitive Personal Information, constitutes your consent to the use, storage, processing and transfer of that information in accordance with this Privacy Statement.<br>
    All the personal information or data of employee is deleted as soon as data of employee is removed from database.
</p>
